@font-face {font-family:Kusanagi; src:url(style-file/Kusanagi.otf);}
@font-face {font-family: design-font;src: url(style-file/design-font.otf);}


/*
antrasit = #383e42
siyah = #000
haki=#bdb76b
*/

body{
    background: #000;
    display: flex;
    flex-direction: row;
}
#sol_bar{
    background: #383e42;
    width: 35%;
    

}
#site_ismi {
    font-size: 6vw;
    font-family: Kusanagi,sans-serif;
    color: rgb(255, 248, 136);
    text-shadow: rgb(189 184 107) 0px 0px 20px;
    margin: 15% 6% 5% 6%;
    text-align: center;
}
#site_ismi:hover{
    color:#fffcce;
    transition: 0.8s;
    text-shadow: rgb(255 248 136) 0px 0px 40px;
    
}
#tasarımcı{
    font-family: design-font,sans-serif;
    color: rgb(255, 248, 136);
    margin: 0% 30% 2% 25%;
    font-size: 1.5vw;
    text-align: center;
}
#sağ_bar{
    background: #000;
    width: 71%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}  
#kart_1{
    display: flex;
    margin: 10% 2% 6% 5%;
    width: 60%;
    height: 15%;
    border-radius: 50px;
}
#ön_1{

    width: 100%;
    height: 100%;
    background: rgb(255, 248, 136);
    border-radius: 50px;
    z-index: 1;
}
#kart_1_başlık{
    font-family: 'Barlow Semi Condensed Bold', sans-serif;
    color:rgb(255 248 136);
    
    -webkit-text-stroke:#383e42 ;
    -webkit-text-stroke-width: 0.2vw;
    margin: 3%;
    text-align: center;
    letter-spacing: 0.5vw;
    font-size: 5vw;

}
#kart_1:hover >#ön_1>#kart_1_başlık{
    color: #383e42;
    letter-spacing: 0vw;
    font-size: 3vw;
    transition: 0.8s;
    margin-top:10%;    
}
#arka_1{
    width: 0%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 0px 50px 50px 0px;
    z-index: 0;
    
}
#kart_1:hover > #arka_1 {
    width: 100%;
    transition: 0.8s;
    
}
#kart_1:hover > #ön_1{
    border-radius: 50px 0px 0px 50px;

}
h2,h4,h6,a{
    display: none;
}
#kart_1:hover > #arka_1 >a{
    margin: 0 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border:1px solid #333;
    right: 0;

}
#kart_1:hover > #arka_1 >a:hover{
    background: #333;
    color: #fff;
}

#kart_1:hover > #arka_1 > h2{

    display: flex;
    margin: 10px 0 0;
    padding: 0;
    color: #bdb76b;
    font-size: 1.5m;
}
#kart_1:hover > #arka_1 >h4,h6{
    display: block;
    margin: 0;
    transition: 0.1s;
}

#kart_2{
    
    width: 27%;
    height: 15%;
    margin: 10% 5% 5% 1%;
    border-radius: 50px;
    
}
#ön_2{
    
    width: 100%;
    height: 100%;
    background:#383e42;
    border-radius: 50px;
    position: relative;
    z-index: 1
}
#arka_2{
    
    width: 100%;
    height: 96%;
    background: #fff;
    border-radius: 50px;

    position: relative;
    z-index: 0; 

    transform: translateY(-100%);
}
#ön_2:hover + #arka_2{
    transform: translateY(0%);
    transition: 0.8s;
    border-radius: 0px 0px 50px 50px;
}
#arka_2:hover  {
    transform: translateY(0%);
    transition: 0.8s;
    border-radius: 0px 0px 50px 50px;

}
#ön_2:hover {
    transition: 0.8s;
    border-radius: 50px 50px 0px 0px;
}
#başlık_2{
    font-family: 'Barlow Semi Condensed Bold', sans-serif;
    color:#383e42;
    -webkit-text-stroke:#bdb76b ;
    -webkit-text-stroke-width: 0.1vw;
    margin-top: 0;
    text-align:center;
    font-size: 3vw;

    position:absolute;
    right: 1vw;
    bottom: 0vw;
}

#kart_2:hover > #ön_2 > #başlık_2{
    color: #bdb76b;
    margin-top: 20%;
    font-size: 2vw;
    transition: 0.8s;
    

}

#kart_2:hover > #arka_2 >a{
    margin: 0 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border:1px solid #333;
    right: 0;

}
#kart_2:hover > #arka_2 >a:hover{
    background: #333;
    color: #fff;
}

#kart_2:hover > #arka_2 > h2{

    display: flex;
    margin:0;
    padding: 0;
    color: #bdb76b;
    font-size: 1.5m;
}
#kart_2:hover > #arka_2 >h4,h6{
    display: block;
    margin: 0;
    transition: 0.1s;
}
#kart_3{

    width: 40%;
    background: #383e42;
    height: 15%;
    margin: 5% 5% 5% 5%;
    border-radius: 50px;
}
#kart_4{
    
    background: #bdb76b;
    width: 40%;
    height: 15%;
    margin: 5% 5% 5% 5%;
    border-radius: 50px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    #sol_bar{
        justify-content: space-between;
        display: flex;
        width: 100%;
        height: auto;

    }
    #site_ismi{
        margin: 5% 5% 5% 5%;
    }
    #tasarımcı{
        margin: 5% 5% 5% 5%;
    }
    #sağ_bar{
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;

    }
    #kart_1,#kart_2,#kart_3,#kart_4{
        width: 85%;
        height: 15%;
        margin: 5%;

    }
    #kart_1_başlık{
        font-size: 10vw;
        letter-spacing: 3.5vw;
        -webkit-text-stroke: #383e42;
        -webkit-text-stroke-width: 0.2vw;
        margin: 8vw;
    }
    
    h2,h4,h6,a{
        display: none;
    }

    #kart_1:active > #arka_1 >a{
        margin: 0 0 0;
        display: inline-block;
        text-decoration: none;
        font-weight: 900;
        color: #333;
        padding: 0.5vw;
        border:0.1vw solid #333;
        right: 0;
    
    }
    #kart_1:active > #arka_1 >a:active{
        background: #333;
        color: #fff;
    }
    
    #kart_1:active > #arka_1 > h2{
    
        display: flex;
        margin: 1vw 0 0 1vw;
        padding: 0;
        color: #bdb76b;
        font-size: 3.5vw;
    }
    #kart_1:active > #arka_1 >h4,h6,a{
        display: block;
        margin: 0;
        font-size: 2.5vw;
        margin: 1vw 0 0 1vw;
    }
    
    #başlık_2{
        position: absolute;
        right: 14vw;
        bottom: 3vw;
        font-size: 11vw;
    }
    #kart_1:active >#ön_1>#kart_1_başlık{
        color: #383e42;
        letter-spacing: 0vw;
        font-size: 3vw;
        transition: 0.8s;
        margin-top:5%; 
        height: 15%;   
    }
    #kart_2:active > #ön_2 > #başlık_2{
        color: #bdb76b;
        margin-top: 20%;
        font-size: 4vw;
        transition: 0.8s;
        
        text-align: center;
        
    
    }

    

}
