@font-face {font-family:Kusanagi; src:url(style-file/Kusanagi.otf);}
@font-face {font-family: design-font;src: url(style-file/design-font.otf);}
body{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: 0;
}
#oda_id_bilgi{
    display: none;
    position: absolute;
    z-index: 0;
}
#alert_div{
    display:none;
    position: fixed;
    z-index: 3;
    top: 40%;
    width: 100%;
    height: 20%;
    
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);

}
#alert_mesaj{
    color:#4B4B4B;
    font-size: 3rem;
    text-align: center;
    margin: auto;

}
/*----------------oyun giriş ekranı --------------------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    #oyun_giriş_ekranı{
        position: absolute;
        z-index: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        justify-content: start;
        margin:-1vw;
        justify-items:center;
        justify-content: space-between;
        align-items: stretch;
    }
    #solbar{
        height: 25vh;
        width:100vw;
        background: #383e42;
    }
    h1{
        text-align: center;
        margin:4vw 1vw 0vw 3vw;
    }
    h1,h2 {
        font-size: 7vw;
        font-family: Kusanagi,sans-serif;
        color: rgb(255, 248, 136);
        text-shadow: rgb(189 184 107) 0px 0px 20px; 
    }
    h2{
        text-align: center;
    }
    #tasarımcı{
        font-family: design-font,sans-serif;
        color: rgb(255, 248, 136);
        
        font-size: 2.5vw;
        text-align:start;
    }
    #sağbar{
        height: 75vh;
        width: 100vw;
        display: flex;
        flex-direction: column; 
        background: #000; 
        justify-content: space-around;
    }
    #oda_kur_divi,#oda_katıl_divi{
        width: 80vw;
        height: 20vh;
        margin-left: 10vw;
        background: #bdb76b;
        color: #383e42;
        border-radius: 50px;
      
    }
    #oda_katıl_kart_arka,#oda_kur_kart_arka{
        margin :3vw;
        display: flex;
        flex-direction: column;
    
    }
    #oda_katıl_kart_ön,#oda_kur_kart_ön{
        display: none;
    }
    p{
        margin: 8vw 0vw 0vw 21vw;
        font-size: 12vw;
        text-align: center;
        width: 35vw;
        margin-left: 3vw;
        font-family: 'Barlow Semi Condensed Bold', sans-serif;
        font-weight: bolder;
    }
    input,button{
        width:80% ;
        height: 5vh;
        font-size: 2vh;
        align-content: center;
        margin: auto; 
    }
    button{
      color: white;
      background:#4B4B4B;
      border-radius: 5px;
      border: none;
      font-weight: 500;
      text-transform: uppercase;
    }
}
@media only screen and (min-device-width : 480px) {
#oyun_giriş_ekranı{
    position: absolute;
    z-index: 0;
    display: flex;/* flex yada none olacak unutma */
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin:-1vw;
    justify-items:center;
    justify-content: space-between;
    align-items: stretch;
     
}
#solbar{
    width: 60vw;
    height: 100vh;
    background: #383e42;
}
h1,h2 {
    font-size: 7vw;
    font-family: Kusanagi,sans-serif;
    color: rgb(255, 248, 136);
    text-shadow: rgb(189 184 107) 0px 0px 20px; 
}
h1{
    text-align: start;
    margin:4vw 1vw 0vw 3vw;
}
h2{
    text-align: center;
}
h1:hover,h2:hover{
    color:#fffcce;
    transition: 0.8s;
    text-shadow: rgb(255 248 136) 0px 0px 40px;
 
}
#tasarımcı{
    font-family: design-font,sans-serif;
    color: rgb(255, 248, 136);
    
    font-size: 2.5vw;
    text-align:start;
}
#sağbar{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    background: #000; 
}
p{
    font-size: 4.5vw;
    width: 35vw;
    margin-left: 3vw;
    font-family: 'Barlow Semi Condensed Bold', sans-serif;
    font-weight: bolder;
}
#oda_kur_divi{
    width: 30vw;
    height: 15vw;
    background: #bdb76b;
    color: #383e42;
    border-radius: 50px;
    margin: 5vw 5vw 5vw 5vw;
    
}
#oda_katıl_kart_arka,#oda_kur_kart_arka{
    display: none;
}
#oda_kur_divi:hover #oda_kur_kart_arka{
    margin :3vw;
    display: flex;
    flex-direction: column;
    
}
#oda_kur_divi:hover #oda_kur_kart_ön{
    display: none;
    transition:  0.8s;

}
#oda_katıl_divi{
    width: 30vw;
    height: 15vw;
    background:#383e42;
    color: #bdb76b;
    margin: 5vw 5vw 10vw 5vw;
    border-radius: 50px;
}
#oda_katıl_divi:hover #oda_katıl_kart_arka{
    margin:3vw;
    display: flex;
    flex-direction: column;
}
#oda_katıl_divi:hover #oda_katıl_kart_ön{
    display: none;
}
input{
    height: 3vw;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
}
input:hover{
    transform: scale(1.009);
  box-shadow: 0px 0px 3px 0px #212529;
}
button{
    width: 100%;
  height: 3vw;
  font-size: 14px;
  color: white;
  background: red;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
}
}
/*--------------------- oyun ekranı ------------------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    #oyun_ekranı{
        position: absolute;
        z-index: 0;
        display: none;
        flex-direction: column ;
        width: 100vw;
        height: 100vh;
        background: #0a2647;
        
    }
    #oyun_ekran_üst_bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        height: 11vh;
        background-color: #0a2647;
        background-image: url(taşlar/BAŞLIK.png);
        background-size: cover;
        
       
    
    }
    #oyuncu_ismi{
        color: #4B4B4B;
        background-color: #bdb76b;
        border-radius: 25px;
        margin:5% 5% 15% 5%;
        font-size: 10vw;
        text-align: center;
        width: fit-content;
        height: fit-content;
    }
    #rakip_durumu{
        color: #4B4B4B;
        background-color: #bdb76b;
        border-radius: 25px;
        margin:15% 5% 5% 5%;
        font-size: 10vw;
        text-align: center;
        width: fit-content;
        height: fit-content;
    }
    #oyun_ekran_alt_bar{
        
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 89vh;
    }
    #oyun_tahtası{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #numaralar_ve_kareler{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 44vh;
        background: #144272;
        justify-content: center;
        justify-items: center;
    }
    .kareler {
        width: 10vw;
        height: 9vw;
        border:1vw solid;
        border-color: #383e42;
        background:#98c2ea;
        background-size: contain;
        font-size: 4vw;
    }
    #hamleler{
        width: 100vw;
        height: 22vh;
        background: #205295;
        
    }
    #hamleler_başlık{
        width:100vw;
        height: 3vh;
        font-size: 5vw;
        margin: 0;
        background-color: #2c74b3;
    }
    span_hamle{
        display: flex;
        flex-direction: column-reverse;
        margin: 1vh;
        flex-wrap: wrap;
    }
    #nasıl_oynanır{
        background-color: #2c74b3;
        width: 100vw;
        height: 22vh;

    }
    
}
@media only screen and (min-device-width : 480px){
#oyun_ekranı{
    position: absolute;
    z-index: 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: #000;
    width: 100vw;
    height: 100vh;
    
}
#oyun_ekran_üst_bar{
    display: flex;
    width: 100vw;
    height: 15vh;
    background-color: #4B4B4B;
    justify-content: space-between;
}
#oyuncu_ismi{
    color: #4B4B4B;
    background-color: #bdb76b;
    border-radius: 25px;
    margin: 1% 2% 1% 3%;
    font-size: 5vw;
    text-align: center;
    width: fit-content;
    height: fit-content;
}
#rakip_durumu{
    color: #4B4B4B;
    background-color: #bdb76b;
    border-radius: 25px;
    margin: 1% 2% 1% 3%;
    font-size: 5vw;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

#oyun_ekran_alt_bar{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 85vh;
}
#oyun_tahtası{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 4% 10%;
}
#numaralar_ve_kareler{
    display: flex;
    flex-direction: row;
}
.kareler {
    width: 4vw;
    height: 4vw;
    border:5px solid;
    border-color: #383e42;
    background:#bdb76b;
    background-size: contain;
    font-size: 1vw;
}
#hamleler{
    width: 20vw;
    height: 75vh;
    background: #bdb76b;
    margin: 4% 0%;

    
}
#hamleler_başlık{
    background: #4B4B4B;
    width: 20vw;
    height: 4vh;
    font-size: 2vw;
    color: #bdb76b;
}
span_hamle{
    display: flex;
    flex-direction: column-reverse;
    margin: 1vh;
    flex-wrap: wrap;
}
}
